<section class="suntimes-home__full-width-ad-wrap suntimes-home__full-bleed py-3" data-homepage-slot="suntimes-full-width-ad-bottom">
  <%= render "shared/ui/suntimes/placeholder_rect", extra_classes: "suntimes-home__full-width-ad" %>
</section>

