<%# Investigations 4-up grid %>
<section class="mb-5" data-homepage-slot="suntimes-investigations">
  <div class="suntimes-home__section-accent">
    <h2 class="suntimes-home__section-title">Investigations</h2>
  </div>
  <div class="row g-4 g-lg-5">
    <% @investigations.each do |item| %>
      <div class="col-6 col-md-3">
        <article>
          <%= image_tag @placeholder_image, alt: "", class: "suntimes-home__img-cover suntimes-home__ratio-3-2 mb-3 rounded-0" %>
          <span class="suntimes-home__category"><%= item[:section] %></span>
          <h4 class="suntimes-home__headline-md mt-1">
            <%= link_to item[:title], @story_href, class: "suntimes-home__headline-link" %>
          </h4>
        </article>
      </div>
    <% end %>
  </div>
</section>
