<section class="mb-5">
  <%= render "shared/ui/section_header", title: "Sun-Times components" %>
  <div class="row g-4">
    <div class="col-lg-6">
      <article class="suntimes-home__divider">
        <span class="suntimes-home__category">News</span>
        <h3 class="suntimes-home__headline-md mt-1 mb-1"><a href="#" class="suntimes-home__headline-link">Homepage list story treatment</a></h3>
        <p class="suntimes-home__meta mb-0">19m ago • 4m read</p>
      </article>
      <button class="btn suntimes-home__btn-more mt-2">More stories</button>
    </div>
    <div class="col-lg-6">
      <div class="suntimes-home__newsletter p-4">
        <h4 class="suntimes-home__headline-md mb-2">Newsletter CTA</h4>
        <p class="suntimes-home__meta mb-3">Tokenized CTA module for Sun-Times pages.</p>
        <a href="#" class="btn btn-sm text-white suntimes-home__newsletter-submit">Sign Up</a>
      </div>
    </div>
  </div>
</section>
