<section class="mb-5">
  <%= render "shared/ui/section_header", title: "Sun-Times tokens" %>
  <div class="row g-3">
    <div class="col-6 col-md-3"><div class="p-3 border"><div class="small mb-1">Primary</div><div class="suntimes-style-swatch suntimes-style-swatch--primary"></div></div></div>
    <div class="col-6 col-md-3"><div class="p-3 border"><div class="small mb-1">Headline text</div><div class="suntimes-style-swatch suntimes-style-swatch--headline"></div></div></div>
    <div class="col-6 col-md-3"><div class="p-3 border"><div class="small mb-1">Body text</div><div class="suntimes-style-swatch suntimes-style-swatch--body"></div></div></div>
    <div class="col-6 col-md-3"><div class="p-3 border"><div class="small mb-1">Border</div><div class="suntimes-style-swatch suntimes-style-swatch--border"></div></div></div>
  </div>
</section>
