<figure class="my-4">
  <div class="demo-figure-image rounded"></div>
  <% if local_assigns[:caption].present? %><figcaption class="article-meta mt-2"><%= local_assigns[:caption] %></figcaption><% end %>
</figure>
