<div class="pull-quote">
  <p class="pull-quote-text display-6 mb-2">“<%= local_assigns[:quote] %>”</p>
  <% if local_assigns[:attribution].present? %><div class="article-meta">— <%= local_assigns[:attribution] %></div><% end %>
</div>
